{% extends 'base.html' %}
{% load static %}
{% block start %}


    <!-- banner-section -->
    <section class="banner-section style-two">
        <div class="auto-container"></div>
            <img src="{% static 'images/banner/banner-6.jpg' %}">
        </div>
    </section>
    <section class="about-section bg-color-1"> 
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 video-column">
                    <div class="video-inner">
                        <figure class="image-box"><img src="{% static 'images/resource/about-1.jpg' %}" alt=""></figure>
                        <div class="video-btn">
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption="" style="background-image: url(assets/images/resource/btn-bg.png);"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_one">
                        <div class="content-box">
                            <div class="sec-title left">
                                <h2 style="color: #f8952c;">SyNPISE</h2>
                                <h4> Système National de Publication <br>de l'Information Socio-Economique</h4>
                            </div>
                            <div class="text">
                                <p>Exercitation llamco laboris nis aliquip sed conseqrure dolorn repreh deris luptate velit excepteur duis aute irure dolor voluptate.</p>
                            </div>
                            <div class="inner-box">
                                <div class="single-item">
                                    <div class="icon-box">
                                        <span class="bg-box"></span>
                                        <i class="flaticon-computer-1"></i>
                                    </div>
                                    <h4><a href="">Cote divoire en Chiffres (CIC)</a></h4>
                                    <p>Veniam quis nostrud exercitason ullamco ipsum laboris sed ut perspiciatis unde omnis iste natus.</p>
                                </div>
                                <div class="single-item">
                                    <div class="icon-box">
                                        <span class="bg-box"></span>
                                        <i class="flaticon-browser-1"></i>
                                    </div>
                                    <h4><a href=""></a></h4>
                                    <p>Ad mini veniam quis nostrud exercitas tion ullamco ipsum sed ut perspiciatis unde omnis iste natus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->


     <!-- service-section -->
     <section class="service-section">
        <div class="auto-container">
            <div class="title-box">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 title-column">
                        <div class="sec-title right">
                            <h5>Données et indicateurs</h5>
                            <h2>Secteurs <br />économiques ciblés</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 text-column">
                        <div class="text">
                            <p>Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostrud exercitation ullamco laboris nis aliquip consequat duis aute irure dolor voluptate.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-content">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="planning-strategies.html">Education</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-rocket"></i></div>
                                    <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                    <a href="planning-strategies.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="financial-analysis.html">Economies et finances</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-innovation-1"></i></div>
                                    <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                    <a href="financial-analysis.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="investment-trading.html">Energies</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-presentation"></i></div>
                                    <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                    <a href="investment-trading.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="investment-trading.html">Technologies de l'information</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-target"></i></div>
                                    <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                    <a href="investment-trading.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="wealth-marketing.html">Santé</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-idea"></i></div>
                                    <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                    <a href="wealth-marketing.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="taxation-planning.html">Agro industrie</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-search"></i></div>
                                    <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                    <a href="taxation-planning.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->


    <!-- feature-section -->
    <section class="feature-section">
        <div class="auto-container">

            <div class="title-box">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 title-column">
                        <div class="sec-title right">
                            <h5>Formules d'abonnement</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
                
                
                <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                    <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'images/resource/feature-1.jpg'%}" alt=""></figure>
                            <div class="lower-content">
                                <div class="inner">
                                    <h3>Etudiants</h3>
                                    <a href="{% url 'formules' %}"><span>Details</span><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4  col-sm-12 feature-block">
                    <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'images/resource/feature-2.jpg'%}" alt=""></figure>
                            <div class="lower-content">
                                <div class="inner">
                                    <h3>Professionnels</h3>
                                    <a href="{% url 'formules' %}"><span>Details</span><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4  col-sm-12 feature-block">
                    <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'images/resource/feature-3.jpg'%}" alt=""></figure>
                            <div class="lower-content">
                                <div class="inner">
                                    <h3>Institutions</h3>
                                    <a href="{% url 'formules' %}"><span>Details</span><i class="fa-solid fa-check"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-section end -->


    <!-- project-section -->
    <section class="project-section">
        <div class="fluid-container">
            <div class="project-carousel theme-carousel owl-theme owl-carousel owl-dots-none owl-nav-none">
                <div class="project-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/gallery/project-1.jpg'%}" alt=""></figure>
                        <div class="lower-content">
                            <p>Corporate Management</p>
                            <h2><a href="index.html">Global Management Apps</a></h2>
                        </div>
                    </div>
                </div>
                <div class="project-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/gallery/project-2.jpg'%}" alt=""></figure>
                        <div class="lower-content">
                            <p>Financial Initiatives</p>
                            <h2><a href="index.html">Planning & Task Completion</a></h2>
                        </div>
                    </div>
                </div>
                <div class="project-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/gallery/project-3.jpg'%}" alt=""></figure>
                        <div class="lower-content">
                            <p>Corporate Management</p>
                            <h2><a href="index.html">Private Workshop Assistant</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-section end -->


    <!-- clients-section 
    <section class="clients-section">
        <div class="auto-container">
            <div class="clients-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-1.png" alt=""></a></figure>
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-1.png" alt=""></a></figure>
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-1.png" alt=""></a></figure>
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-1.png" alt=""></a></figure>
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-1.png" alt=""></a></figure>
            </div>
        </div>
    </section>
    clients-section end -->



    <!-- fun-fact -->
    <section class="fun-fact centred">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="254">0</span>
                        </div>
                        <p>Expert Consultants</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="930">0</span>
                        </div>
                        <p>Our Trusted Clients</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="826">0</span>
                        </div>
                        <p>Orders in Queue</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="720">0</span>
                        </div>
                        <p>Projects Delivered</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fun-fact end -->
{% endblock %}