{% extends 'base.html' %}
{% load static %}
{% block start %}

<section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Formules d'abonnement</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Formules d'abonnement</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


<!-- pricing-section -->
<section class="pricing-section pricing-page">
    <div class="auto-container">
        <div class="title-box">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 title-column">
                    <div class="sec-title left">
                        <h5>how we charge</h5>
                        <h2>We Offer Flexible Plans To Suit Everyones Needs</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 text-column">
                    <div class="text">
                        <p>Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostrud exercitation ullamco laboris nis aliquip consequat duis aute irure dolor voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-box">
           
            <div class="tabs-content">
                <div class="tab active-tab" id="tab-1">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <h3>Etudiant</h3>
                                        <div class="price-box">
                                            <span>recommended</span>
                                            <h2>$149</h2>
                                            <p>/ Month</p>
                                        </div>
                                        <span class="text">This Plan Includes Global Relations</span>
                                    </div>
                                    <div class="table-content">
                                        <ul class="clearfix"> 
                                            <li>All Financial Tasks</li>
                                            <li>Economic Market Survey</li>
                                            <li><del>Sales Operations</del></li>
                                            <li><del>Auto Intelligence</del></li>
                                            <li><del>24/7 Support</del></li>
                                            <li><del>Technology Services</del></li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html">Connexion</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one active-block">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <h3>Professionnel</h3>
                                        <div class="price-box">
                                            <span>recommended</span>
                                            <h2>$299</h2>
                                            <p>/ Month</p>
                                        </div>
                                        <span class="text">This Plan Includes Financial Analysis</span>
                                    </div>
                                    <div class="table-content">
                                        <ul class="clearfix"> 
                                            <li>All Financial Tasks</li>
                                            <li>Economic Market Survey</li>
                                            <li>Sales Operations</li>
                                            <li>Auto Intelligence</li>
                                            <li><del>24/7 Support</del></li>
                                            <li><del>Technology Services</del></li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html">Connexion</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <h3>Institution</h3>
                                        <div class="price-box">
                                            <span>recommended</span>
                                            <h2>$549</h2>
                                            <p>/ Month</p>
                                        </div>
                                        <span class="text">This Plan Includes Free Consultancy</span>
                                    </div>
                                    <div class="table-content">
                                        <ul class="clearfix"> 
                                            <li>All Financial Tasks</li>
                                            <li>Economic Market Survey</li>
                                            <li>Sales Operations</li>
                                            <li>Auto Intelligence</li>
                                            <li>24/7 Support</li>
                                            <li>Technology Services</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html">Connexion</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab" id="tab-2">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <h3>Small Plan</h3>
                                        <div class="price-box">
                                            <span>recommended</span>
                                            <h2>$349</h2>
                                            <p>/ Year</p>
                                        </div>
                                        <span class="text">This Plan Includes Global Relations</span>
                                    </div>
                                    <div class="table-content">
                                        <ul class="clearfix"> 
                                            <li>All Financial Tasks</li>
                                            <li>Economic Market Survey</li>
                                            <li><del>Sales Operations</del></li>
                                            <li><del>Auto Intelligence</del></li>
                                            <li><del>24/7 Support</del></li>
                                            <li><del>Technology Services</del></li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html">get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one active-block">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <h3>Smart Plan</h3>
                                        <div class="price-box">
                                            <span>recommended</span>
                                            <h2>$599</h2>
                                            <p>/ Year</p>
                                        </div>
                                        <span class="text">This Plan Includes Financial Analysis</span>
                                    </div>
                                    <div class="table-content">
                                        <ul class="clearfix"> 
                                            <li>All Financial Tasks</li>
                                            <li>Economic Market Survey</li>
                                            <li>Sales Operations</li>
                                            <li>Auto Intelligence</li>
                                            <li><del>24/7 Support</del></li>
                                            <li><del>Technology Services</del></li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html">get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <h3>Super Plan</h3>
                                        <div class="price-box">
                                            <span>recommended</span>
                                            <h2>$749</h2>
                                            <p>/ Year</p>
                                        </div>
                                        <span class="text">This Plan Includes Free Consultancy</span>
                                    </div>
                                    <div class="table-content">
                                        <ul class="clearfix"> 
                                            <li>All Financial Tasks</li>
                                            <li>Economic Market Survey</li>
                                            <li>Sales Operations</li>
                                            <li>Auto Intelligence</li>
                                            <li>24/7 Support</li>
                                            <li>Technology Services</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html">get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}