{% extends 'base.html' %}
{% load static %}
{% block start %}

<section class="page-title centred" style="background-image: url({% static 'assets/images/background/page-title.jpg' %});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Présentation</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Présentation</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- feature-section end -->


    <!-- about-style-four -->
    <section class="about-style-four">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_13">
                        <div class="content-box">
                            <div class="sec-title style-four right">
                                <h5>About fionca</h5>
                                <h2>Digital Future Planning Based On True Facts</h2>
                            </div>
                            <div class="text">
                                <p>Exercitation llamco laboris nis aliquip sed conseqrure dolorn repreh deris luptate velit excepteur duis aute irure dolor voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit sed eiusmod.</p>
                                <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            </div>
                            <div class="progress-content">
                                <div class="progress-box">
                                    <p>exective planning</p>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="65%"></div>
                                        <span class="count-text">65%</span>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <p>corporate Analysis</p>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="90%"></div>
                                        <span class="count-text">90%</span>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <p>Business optimization</p>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="50%"></div>
                                        <span class="count-text">50%</span>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <p>the tax management</p>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="70%"></div>
                                        <span class="count-text">70%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 video-column">
                    <div class="video-inner">
                        <figure class="image-box"><img src="{% static 'images/resource/about-1.jpg' %}" alt=""></figure>
                        <div class="video-btn">
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption="" style="background-image: url(assets/images/resource/btn-bg.png);"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-four end -->







{% endblock %}