{% extends 'base.html' %}
{% load static %}
{% block start %}
<section class="page-title centred" style="background-image: url(assets/images/background/page-title-2.jpg);">
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Secteurs cible</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Secteurs cible</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


<!-- service-section -->
<section class="service-section">
    <div class="auto-container">
        <div class="title-box">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 title-column">
                    <div class="sec-title right">
                        <h5>What we provides</h5>
                        <h2>Get Exceptional <br />Service For Growth</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                    <div class="text">
                        <p>Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostrud exercitation ullamco laboris nis aliquip consequat duis aute irure dolor voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-content">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h4><a href="planning-strategies.html">Planning Strategies</a></h4>
                            <div class="inner">
                                <div class="icon-box"><i class="flaticon-rocket"></i></div>
                                <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                <a href="planning-strategies.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h4><a href="financial-analysis.html">Financial Advices</a></h4>
                            <div class="inner">
                                <div class="icon-box"><i class="flaticon-innovation-1"></i></div>
                                <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                <a href="financial-analysis.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h4><a href="investment-trading.html">Manage Investment</a></h4>
                            <div class="inner">
                                <div class="icon-box"><i class="flaticon-presentation"></i></div>
                                <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                <a href="investment-trading.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h4><a href="investment-trading.html">Process Development</a></h4>
                            <div class="inner">
                                <div class="icon-box"><i class="flaticon-target"></i></div>
                                <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                <a href="investment-trading.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h4><a href="wealth-marketing.html">Wealth Marketing</a></h4>
                            <div class="inner">
                                <div class="icon-box"><i class="flaticon-idea"></i></div>
                                <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                <a href="wealth-marketing.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h4><a href="taxation-planning.html">Business Tax Reforms</a></h4>
                            <div class="inner">
                                <div class="icon-box"><i class="flaticon-search"></i></div>
                                <p>Acepteur sintas haecat sed non dui proident sunt culpa sed ipsum tempor.</p>
                                <a href="taxation-planning.html"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-section end -->


<!-- project-section -->
<section class="project-section">
    <div class="fluid-container">
        <div class="project-carousel theme-carousel owl-theme owl-carousel owl-dots-none owl-nav-none">
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="assets/images/gallery/project-1.jpg" alt=""></figure>
                    <div class="lower-content">
                        <p>Corporate Management</p>
                        <h2><a href="index.html">Global Management Apps</a></h2>
                    </div>
                </div>
            </div>
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="assets/images/gallery/project-2.jpg" alt=""></figure>
                    <div class="lower-content">
                        <p>Financial Initiatives</p>
                        <h2><a href="index.html">Planning & Task Completion</a></h2>
                    </div>
                </div>
            </div>
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="assets/images/gallery/project-3.jpg" alt=""></figure>
                    <div class="lower-content">
                        <p>Corporate Management</p>
                        <h2><a href="index.html">Private Workshop Assistant</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project-section end -->


{% endblock %}